
/* ================================================================================================= */
/* ============================================ GENERAL ============================================ */
/* ================================================================================================= */

/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;700;800;900&display=swap');


/* General properties for the whole page (desktop mode)*/
body{
    max-width: 100%;
    margin : 0rem auto;
    width : 960px ;
    font-family: 'Raleway', sans-serif;
}

header{
    width :100% ;
}

footer{
    /* position: absolute; */
    margin-bottom: 7px;
    margin-left: 48px;
    margin-right: 53px;
    margin-top: 75px;
    left: 3.33%;
    right: 3.68%;
    top: 0%;
    bottom: -10.84%;
    background: #F2F2F2;
    max-width: 100%;
}

h2 {
     margin: 0;
}

p {
    margin: 0.5em 0;
    font-size: 13px;
}

a{
    text-decoration: none;
    color: black;
}


/* ================================================================================================= */
/* ============================================= HEADER ============================================ */
/* ================================================================================================= */


/* ========================================== LOGO AND NAV ========================================= */

.booki-header{
    display: flex;
    justify-content: space-between;
    margin-top: 3em;
    max-width: 100%;

}

.booki-header-navbar{
    display: flex;
    flex-direction : row;
}

#booki-header-site-logo-img{
    width: 61.09px;
    height: 19px;
    left: 0px;
    top: 0px;
    padding: 1em 0;
}


.booki-header-link{
    margin: 1em 1em;
    padding: 1em 0;
    font-size: 0.9rem;
}

.booki-header-link:hover {
    color: #0065FC;
    border-top: 2px #0065FC solid;
}

.booki-header-search-main-textbloc-title{
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    line-height: 26px;
    font-size: 1.2rem;
}

.booki-header-search-main-textbloc-subtitle{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    margin-bottom: 20px;
    font-size: 12px;
    line-height: 19px;
    padding-top: 0.2em;


}

/* ========================================== SEARCH BAR ========================================= */

.booki-header-search{
    max-width: 100%;
}

.booki-header-search-main-search{
    display: flex;
}

.booki-header-search-main-textbloc{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}


#pointer-logo{
    width: 14px;
    height: 18px;
}

.booki-header-search-main-search-logo{
    width: 50px;
    height: 49px;
    background: #F2F2F2;
    border: 1px solid #F2F2F2;
    border-radius: 15px 0px 0px 15px;
    box-sizing: content-box;
    display: flex;
    justify-content: center;
    align-items: center;
}


#search-bar{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    border: 0px solid #F2F2F2;

}

.booki-header-search-main-search-searchbar{
    background-color: #FFFFFF;
    color: white;
    border: 1px solid #F2F2F2;
    display: flex;
    align-items: center;
}

#search-text{
    font-family: 'Raleway', sans-serif;
    color: white;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    

}

.booki-header-search-main-search-searchbtn{
    background: #0065FC;
    border: 1px solid #0065FC;
    border-radius: 0px 15px 15px 0px;
    text-align: center;
    display: flex;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    color: white;
    font-weight: 700;
}

.booki-header-search-main-search-searchbtn-text{
    padding-left : 1em;
    padding-right: 1em;
}

span.booki-header-search-main-search-searchbtn-icon{
    display : none;
}




/* =========================================== FILTERS ========================================== */


.booki-header-filters{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 2em;
    max-width: 80%;
    width: 80%;
}

.booki-header-filters-btns{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    width: 100%;
}

.booki-header-filters-title{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center; 
    margin-right: 2em;
}


.booki-header-filters-btn{
    border: 2px solid #DEEBFF;
    background-color: #FFFFFF;
    border-radius: 25px;
    padding: 0.7em 0.7em;
    font-weight: 700;
    font-size: 15px;
    line-height: 21px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.booki-header-filters-btn:hover{
    background: #DEEBFF;
}


.booki-header-filter-btn-img{
    padding-left: 0.4em;
    padding-right: 0.4em;
}



/* ================================================================================================= */
/* ================================================================================================= */
/* ============================================= MAIN ============================================== */
/* ================================================================================================= */
/* ================================================================================================= */


.booki-home{
    display: flex;
    flex-direction: column;
    max-width: 100%;
}


.booki-home-main-page{
    display: flex;
    flex-direction: row;
}

.booki-home-housing-card-ratting-star{
    padding-right : 0.1em;
}


.booki-home-popular-card-ratting-star{
    padding-right : 0.1em;
}



/* ================================================================================================= */
/* ========================================== HEBERGEMENTS ========================================= */
/* ================================================================================================= */


.booki-home-info{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 2em;
    width: 100%;
}

.booki-home-info-logo{
    padding: 0.2em 0.65em;
    margin-right: 1em;
    border: 1px solid #D9D9D9;
    border-radius: 80px;
}

.booki-home-housing-title{
    padding-top: 1em;
    padding-left: 1em;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

.booki-home-housing{
    margin-top: 1em;
    margin-bottom: 1em;
    background: #F2F2F2;
    border-radius: 20px;
    flex:0.7;

}

.booki-home-housing-cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 1em;
}

.booki-home-housing-card-image-container{
    /* border-radius: 20px; */
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    /* border: 1px solid black;  */
    width: 100%;
    height: 40%;
}


.booki-home-housing-card{
    width: 30%;
    height: 50%;
    background: #FFFFFF;
    margin: 0.5em 0.2em;
    border-radius: 20px;
    box-shadow: 2px 2px 5px 2px #dddddd; /* offset-x | offset-y | blur-radius | spread-radius | color */
}

.booki-home-housing-card-image{
    box-sizing: border-box;
    object-fit: cover;
    width: 100%;
    height: 100%;
    border: 5px solid #FFFFFF;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    max-height: 120px; 
    min-height: 120px;
}

.booki-home-housing-card-text-container{
    display: flex;
    flex-direction: column;
    padding-top: 0.2em;
    padding-left : 1em;
    padding-bottom: 0.5em;
}


.booki-home-housing-card-title{
    font-weight: 700;
    font-size: 13px;
    padding-bottom: 0.5em;
}

.booki-home-housing-card-price{
    font-size: 11px;
    padding-bottom: 0.1em;
}


.booki-home-housing-card-ratting{
    padding-top : 0.2em;
    display: flex;
    flex-direction: row;
}

.booki-home-housing-displaymore{
    padding-bottom: 0.05em;
    padding-left: 1em;
}


/* ================================================================================================= */
/* =========================================== POPULAIRES ========================================== */
/* ================================================================================================= */

.booki-home-popular{
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 2em;
    background: #F2F2F2;
    border-radius: 20px;
    flex:0.3;
    display: flex;
    flex-direction: column;
}

.booki-home-popular-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}



.booki-home-popular-title-tendancy{
    padding: 0.2em;
}


.booki-home-popular-cards{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    padding-right: 1em;
    padding-left: 1em;
}




.booki-home-popular-card{
    border-radius: 20px;
    background: #FFFFFF;
    max-height: 8em;
    max-width: 16em;
    display: flex;
    flex-direction: row;
    box-shadow: 2px 2px 5px 2px #dddddd; /* offset-x | offset-y | blur-radius | spread-radius | color */
}

.booki-home-popular-card-image-container{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    /* border: 1px solid black;  */
    flex: 0.4;
    min-width: 40%;
    height: 7em;
}

.booki-home-popular-card-text-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 0.2em;
    padding-left: 0.5em;
    padding-right: 1em; 
    padding-bottom: 0.5em;
    flex : 0.6;
    
}

.booki-home-popular-card-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.booki-home-popular-card-title{
    font-weight: 700;
    font-size: 13px;
    padding-top: 0.7em;
    padding-bottom: 0.5em;
}

.booki-home-popular-card-price{
    font-size: 11px;
}

.booki-home-popular-card-image{
    box-sizing: border-box;
    object-fit: cover;
    width: 100%;
    height: 100%;
    border: 5px solid #FFFFFF; 
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.booki-home-popular-card-ratting{
    display: flex;
    flex-direction: row;
}





/* ================================================================================================= */
/* ============================================ ACTIVITES ========================================== */
/* ================================================================================================= */


.booki-home-activities-title{
    padding-top: 1em;
    padding-bottom: 1em;
    font-family: 'Raleway';
    font-weight: 700;
    line-height: 26px;
}

.booki-home-activities{
    display : grid;
}

.booki-home-activities-cards{
    width: 100%;
    display : grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 80%;
    gap : 3%;
    
}


.booki-home-activities-card{
    border-radius: 20px;
    box-shadow: 2px 2px 5px 2px #F2F2F2; /* offset-x | offset-y | blur-radius | spread-radius | color */
    /* display: flex;
    flex-direction: column; */
}

.booki-home-activities-card-image-container{
    /* display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch; */
    height: 100%;
    width: 100%;
}

.booki-home-activities-card-image{
    box-sizing: border-box;
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.booki-home-activities-card-text-container{
    box-sizing: border-box;
    object-fit: cover;
    font-weight: 700;
    font-size: 12px;
    padding-left: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: left;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    /* border : 1px solid black; */
    box-shadow: 2px 2px 5px 2px #F2F2F2; /* offset-x | offset-y | blur-radius | spread-radius | color */
    background-color: #FFFFFF;
}




/* ================================================================================================= */
/* ============================================== FOOTER =========================================== */
/* ================================================================================================= */


.booki-footer-navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 3em;
    padding-right: 3em;
    padding-bottom: 2em;
    max-width: 100%;
}


.booki-footer-navbar-title{
    font-size: 14px;
    font-weight: 700;
    margin-top: 2em;
}

.booki-footer-navbar-link{
    margin: 1em 0em;
    font-size: 14px;
}





/* ================================================================================================= */
/* ================================================================================================= */
/* ================================================================================================= */
/* ================================================================================================= */
/* ================================================================================================= */
/* ================================================================================================= */




/* ================================================================================================= */
/* ================================ MEDIA QUERIES FOR PHONE ======================================== */
/* ================================================================================================= */


@media screen
  and (width < 400px) {


    .booki-header-search{
        margin: auto 1rem;
    }
    .booki-home-main-page-foot{
        margin: auto 1rem;
    }
    .booki-header-filters{
        margin: auto 1rem;
    }
    .booki-home-info{
        margin-left: 1rem;
        margin-right: 1rem;
    }


    /* ====================================== HEADER =============================================== */

    .booki-header{
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
    }
    
    .booki-header-logo{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .booki-header-navbar{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    
    .booki-header-link{
        width: 100%;
        text-align: center;
        padding : 0px 0px;
        font-size: 1rem;

    }

    .booki-header-link:hover {
        color: #0065FC;
        border-bottom: 2px #0065FC solid;
    }



    /* ====================================== SEARCH =============================================== */



    .booki-header-search-main-textbloc-title{
        display: flex;
        align-content: space-around;
        text-align: justify;
        justify-content: center;
        max-width: 80%; 
  
    }

    .booki-header-search-main-search-searchbar{
        width: 100%;
    }


    span.booki-header-search-main-search-searchbtn-icon{
        width: 49px;
        height: 49px;
        background: #0065FC;
        border: 1px solid #0065FC;
        border-radius: 0px 15px 15px 0px;
        box-sizing: content-box;
        display: flex;
        justify-content: center;
        align-items: center;
    
    }




    span.booki-header-search-main-search-searchbtn-text{
        display : none;
    }

    
    .booki-header-search-main-search {
        justify-content: center;
        width: 100%;
    }

      /* ====================================== FILTERS =============================================== */



    .booki-header-filters{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 1rem;
        width: 100%;
    }


    .booki-header-filters-btns{
        margin-top: 0.5rem;
        width: 100%;
        display : grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap : 2%;
    }

    .booki-header-filters-btn{
        justify-content: flex-start;
        margin-top: 0.5rem;

    }


    .booki-header-filter-btn-img{
        padding-left: 0rem;
        padding-right: 0.5rem;

    
    }

    .booki-header-filter-btn-txt{
        font-size: 0.6rem;
        text-align: left;
    }

/* ====================================== MAIN PAGE =============================================== */

        
    .booki-home-main-page{
        display: flex;
        flex-direction: column-reverse;
    }

    .booki-home-info{
        justify-content: flex-start;
        text-align: justify;
        max-width: 80%;
    }



/* ======================== HOUSING ======================== */

    .booki-home-housing{
        margin-top: 0rem;
        background: white;
        border-radius:0% ;
        flex:1;
        font-size: 1.2rem;
    }

    .booki-home-housing-title{
        padding-top: 0rem;
    }

    .booki-home-housing-cards{
        flex-direction: column;
        align-content: center;
    }

    .booki-home-housing-card{
        width: 90%;
    }


    /* ======================== POPULAR ======================== */

    .booki-home-popular{
        background: #F2F2F2;
        border-radius: 0px;
        margin-left : 0%;
        width: 100%;
        padding-bottom: 3rem;
        font-size: 1.2rem;
    }

    .booki-home-popular-cards{
        align-items: center;
    }

    .booki-home-popular-card{
        width: 90%;
        max-width: 90%;
        margin-bottom: 0.7rem;
    
    }

    .booki-home-popular-title{
        margin-bottom: 1rem;
    }

    .booki-home-housing-displaymore{
        display: none;
    }

    .booki-home-popular-card-title{
        font-size: 0.9rem;
    }

    /* ======================== ACTIVITES ======================== */

    .booki-home-activities-title{
        font-size: 1.2rem;
        max-width: 30%;
        padding-bottom: 0rem;
    }

    .booki-home-activities{
        display : flex;
        justify-content: center;
        margin-bottom: 2rem;
    }

    .booki-home-activities-cards{
        display: flex;
        flex-direction: column;
        max-width: 90%;
        width: 90%;
    }

    .booki-home-activities-card-image-container{
        height: 8rem;
    }

    .booki-home-activities-card{
        margin-bottom: 1rem;
    }


    
    /* ======================== FOOTER ======================== */

    .booki-footer-navbar{
        flex-direction: column;
        width: 100%;
    }

    footer{
        margin-left: 0rem;
        margin-right: 0rem;
        margin-top: 0rem;
        margin-bottom: 0rem;
    }


}   




/* ================================================================================================= */
/* =============================== MEDIA QUERIES FOR TABLET ======================================== */
/* ================================================================================================= */



@media screen
  and (width > 600px)
  and (width < 1024px)
{
    body { background-color: gray; }




}
