
/* ================================================================================================= */
/* ============================================ GENERAL ============================================ */
/* ================================================================================================= */


@font-face {
	font-family: 'Raleway';
	src: url('font/Raleway/Raleway-VariableFont_wght.ttf');
}


body{
    margin: 90px auto;
    width : 960px ;
    font-family: 'Raleway', sans-serif;
}

header{
    width :100% ;
}

footer{
    /* position: absolute; */
    margin-bottom: 7px;
    margin-left: 48px;
    margin-right: 53px;
    margin-top: 75px;
    left: 3.33%;
    right: 3.68%;
    top: 0%;
    bottom: -10.84%;
    background: #F2F2F2;
}

h2 {
     margin: 0;
     font-weight: bolder;
     font-size: 16px;
}

p {
    margin: 0.5em 0;
    font-size: 13px;
}

a{
    text-decoration: none;
    color: black;
}

/* ================================================================================================= */
/* ============================================= HEADER ============================================ */
/* ================================================================================================= */


/* ========================================== LOGO AND NAV ========================================= */

.booki-header{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;

}

.booki-header-navbar{
    display: flex;
    flex-direction : row;

}

.booki-header-site-logo{
    width: 61.09px;
    height: 19px;
    left: 0px;
    top: 0px;
    padding: 1em 0;
}


.booki-header-link{
    margin: 1em 1em;
    padding: 1em 0;
    font-size: 14px;
}

.booki-header-link:hover {
    color: #0065FC;
    border-top: 2px #0065FC solid;
}


/* ========================================== SEARCH BAR ========================================= */

.booki-header-search-main-search{
    display: flex;
}

.booki-header-search-main-textbloc{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}


.booki-header-search-main-textbloc-title{
    font-style: normal;
    font-weight: 700;
    line-height: 26px;

}

.booki-header-search-main-textbloc-subtitle{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 20px;

}

#pointer-logo{
    width: 14px;
    height: 18px;
}

.booki-header-search-main-search-logo{
    width: 50px;
    height: 49px;
    background: #F2F2F2;
    border: 1px solid #F2F2F2;
    border-radius: 15px 0px 0px 15px;
    box-sizing: content-box;
    display: flex;
    justify-content: center;
    align-items: center;
}


#search-bar{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    border: 0px solid #F2F2F2;

}

.booki-header-search-main-search-searchbar{
    color: white;
    border: 1px solid #F2F2F2;
    display: flex;
    align-items: center;
}

#search-text{
    color: white;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    padding: 14px 16px;

}

.booki-header-search-main-search-searchbtn{
    background: #0065FC;
    border: 1px solid #0065FC;
    border-radius: 0px 15px 15px 0px;
    display: flex;
    align-items: center;

}




/* =========================================== FILTERS ========================================== */


.booki-header-filters{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 2em;
}


.booki-header-filters-btn{
    border: 2px solid #DEEBFF;
    border-radius: 25px;
    padding: 0.7em 0.7em;
    margin: 0 1.7em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 21px;
    text-align: center;
}

.booki-header-filters-btn:hover{
    background: #DEEBFF;
}



.booki-header-filter-btn-img{
    padding-left: 0.4em;
    padding-right: 0.4em;
}



/* ================================================================================================= */
/* ================================================================================================= */
/* ============================================= MAIN ============================================== */
/* ================================================================================================= */
/* ================================================================================================= */


.booki-home{
    display: flex;
    flex-direction: column;
}


.booki-home-main-page{
    display: flex;
    flex-direction: row;
}



/* ================================================================================================= */
/* ========================================== HEBERGEMENTS ========================================= */
/* ================================================================================================= */


.booki-home-info{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 2em;
}

.booki-home-info-logo{
    padding: 0.2em 0.65em;
    margin-right: 1em;
    border: 1px solid #D9D9D9;
    border-radius: 50px;
}

.booki-home-housing-title{
    padding-top: 1em;
    padding-left: 1em;
}

.booki-home-housing{
    margin-top: 1em;
    margin-bottom: 1em;
    background: #F2F2F2;
    border-radius: 20px;
    flex:0.7;

}

.booki-home-housing-cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 1em;
}

.booki-home-housing-card-image-container{
    /* border-radius: 20px; */
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    /* border: 1px solid black;  */
    width: 100%;
    height: 40%;
}


.booki-home-housing-card{
    width: 30%;
    height: 50%;
    background: #FFFFFF;
    margin: 0.5em 0.2em;
    border-radius: 20px;
    box-shadow: 2px 2px 5px 2px #dddddd; /* offset-x | offset-y | blur-radius | spread-radius | color */

}

.booki-home-housing-card-image{
    box-sizing: border-box;
    object-fit: cover;
    width: 100%;
    height: 100%;
    border: 5px solid #FFFFFF;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    max-height: 120px; /*A REVOIR ----------------------------------------------- */
}

.booki-home-housing-card-text-container{
    display: flex;
    flex-direction: column;
    padding-top: 0.2em;
    padding-left : 1em;
    padding-bottom: 0.5em;

}


.booki-home-housing-card-title{
    font-weight: 700;
    font-size: 13px;
    padding-bottom: 0.5em;
}

.booki-home-housing-card-price{
    font-size: 11px;
    padding-bottom: 0.1em;
}


.booki-home-housing-card-ratting{
    padding-top : 0.2em;
}

.booki-home-housing-displaymore{
    padding-bottom: 0.05em;
    padding-left: 1em;
}


/* ================================================================================================= */
/* =========================================== POPULAIRES ========================================== */
/* ================================================================================================= */

.booki-home-popular{
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 2em;
    background: #F2F2F2;
    border-radius: 20px;
    flex:0.3;
    display: flex;
    flex-direction: column;
}

.booki-home-popular-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
    margin-bottom: 1em;

}

.booki-home-popular-title-tendancy{
    padding: 0.2em;
}


.booki-home-popular-cards{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    padding-right: 1em;
    padding-left: 1em;
}


.booki-home-popular-card{
    border-radius: 20px;
    background: #FFFFFF;
    max-height: 8em;
    max-width: 16em;
    display: flex;
    flex-direction: row;
    box-shadow: 2px 2px 5px 2px #dddddd; /* offset-x | offset-y | blur-radius | spread-radius | color */
}

.booki-home-popular-card-image-container{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    /* border: 1px solid black;  */
    flex: 0.4;
    min-width: 40%;
    height: 7em;
}

.booki-home-popular-card-text-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 0.2em;
    padding-left: 1em;
    padding-right: 1em; 
    padding-bottom: 0.5em;
    flex : 0.6;
    
}

.booki-home-popular-card-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.booki-home-popular-card-title{
    font-weight: 700;
    font-size: 13px;
    padding-bottom: 0.5em;
}

.booki-home-popular-card-price{
    font-size: 11px;

    
}

.booki-home-popular-card-image{
    box-sizing: border-box;
    object-fit: cover;
    width: 100%;
    height: 100%;
    border: 5px solid #FFFFFF; 
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;

}





/* ================================================================================================= */
/* ============================================ ACTIVITES ========================================== */
/* ================================================================================================= */

/* .booki-home-activities{
    display: flex;
    flex-direction: column;
    width: 100%;

} */

.booki-home-activities-title{
    padding-top: 1em;
    padding-left: 1em;
    padding-bottom: 1em;
}

.booki-home-activities{
    display : grid;
}

.booki-home-activities-cards{
    width: 100%;
    display : grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 80%;
    gap : 3%;
    
}


/* .booki-home-activities-cards{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

} */


.booki-home-activities-card{
    border-radius: 20px;
    box-shadow: 2px 2px 5px 2px #F2F2F2; /* offset-x | offset-y | blur-radius | spread-radius | color */
    /* display: flex;
    flex-direction: column; */
}

.booki-home-activities-card-image-container{
    /* display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch; */
    height: 100%;
    width: 100%;
}

.booki-home-activities-card-image{
    box-sizing: border-box;
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.booki-home-activities-card-text-container{
    box-sizing: border-box;
    object-fit: cover;
    font-weight: 700;
    font-size: 14px;
    padding-left: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: left;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    /* border : 1px solid black; */
    box-shadow: 2px 2px 5px 2px #F2F2F2; /* offset-x | offset-y | blur-radius | spread-radius | color */
}




/* ================================================================================================= */
/* ============================================ FOOTER ========================================== */
/* ================================================================================================= */


.booki-footer-navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 3em;
    padding-right: 3em;
    padding-bottom: 2em;
}


.booki-footer-navbar-title{
    font-size: 14px;
    font-weight: 700;
    margin-top: 2em;
}

.booki-footer-navbar-link{
    margin: 1em 0em;
    font-size: 14px;
}




